@font-face {
  font-family: gotham;
  src: url("../fonts/GothamRounded-Light.otf");
}

.white_title_homepage {
  font-family: gotham;
  font-size: 48px;
  color: #f6f9fa;
}

.proximanova_white-text {
  font-family: "Proxima Nova";
  font-size: 18px;
  color: #ffffff;
  padding: 35px 0;
}

.proximanova_white-text_upper {
  font-family: "Proxima Nova";
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.proximanova_white-text_small {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 16px;
}

.proximanova_black_text {
  font-family: "Proxima Nova";
  font-size: 18px;
  padding: 40px 0;
}

.proximanova_black_text_upper {
  font-family: "Proxima Nova";
  font-size: 18px;
  text-transform: uppercase;
}

.proximanova_black-text_small {
  font-family: "Proxima Nova";
  font-size: 16px;
}

.white_title {
  font-family: "Open Sans";
  font-size: 53px;
  color: #ffffff;
}

.black_title {
  font-family: open sans;
  font-size: 53px;
  text-transform: uppercase;
}

.merriweather_title_red {
  color: #ef443a;
  font-family: Merriweather;
  font-size: 14px;
}

.merriweather_title_white {
  color: #f6f6f6;
  font-family: Merriweather;
  font-size: 39px;
}

.content {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.col_left {
  width: 40%;
  float: left;
  text-align: left;
}

.col_right {
  width: 50%;
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.homepage {
  background: url("../images/homepage.png") center/cover;
  background-size: cover;
  padding: 50px 0 100px;
}

.homepage_header_logo,
.homepage_header_text {
  float: left;
  margin: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.homepage_content {
  margin-top: 100px;
}

.col_left {
  width: 40%;
  float: left;
  text-align: left;
}

.col_right {
  width: 50%;
  float: right;
}

.button_general {
  width: 130px;
  padding: 13px;
  margin: 30px 0;
  background: transparent;
  border: 2px solid #f6f6f6;
  color: #ffffff;
  font-family: proximanova;
  font-size: 14px;
  text-transform: uppercase;
}

button:hover {
  background-color: #8B979C;
}

.services {
  background-color: #f6f6f6;
  padding: 150px 0 100px;
}

.services_images {
  margin-top: -100px;
}

.services_second_row {
  margin-top: -192px;
  margin-left: -186px;
}

.services_third_row {
  margin-top: -193px;
  margin-left: -554px;
}

.rhombus {
  display: inline-block;
  margin: 50px 0px;
  width: 180px;
  height: 200px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  cursor: pointer;
}

.rhombus_text {
  padding-top: 103px;
  font-family: "Proxima Nova";
  font-size: 14px;
}

.services_general {
  background: #ffffff 50% 40% no-repeat;
}

.service_one {
  background-image: url("../images/Chemical_Glass.png");
}

.service_two {
  background-image: url("../images/Tools.png");
}

.service_three {
  background-image: url("../images/Notes.png");
}

.service_four {
  background-image: url("../images/Antenna_1.png");
}

.service_five {
  background-image: url("../images/Layers.png");
}

.service_six {
  background-image: url("../images/Shield.png");
}

.service_seven {
  background-image: url("../images/Bulb.png");
}

.service_eight {
  background: #28282e url("../images/Chart.png") 50% 40% no-repeat;
  color: white;
}

.works {
  padding: 50px 0 100px;
}

.works_text {
  text-align: left;
}

.project {
  background-color: #28282e;
  padding: 200px 0 200px;
}

/**
.project_text {
     position: relative;
}



.project_text:after { 
    content: "";
    width: 10%;
    height: 3px;
    background: white;
    position: absolute;
    top: 85px;
    left: 5px;
     
}

**/
.project_image {
  background: url("../images/laptop.png") center no-repeat, url("../images/screen_elements.png") center no-repeat;
  padding-top: 310px;
  position: relative;
}

.project_image_front {
  background: url("../images/front_shape.png") center no-repeat;
  padding: 10px;
  margin-top: -8px;
}

.project_image_base {
  background: url("../images/base_shape.png") center no-repeat;
  padding: 10px;
  margin-top: -12px;
}

.hline_white {
  width: 5%;
  height: 3px;
  background: #fff;
}

.hline_black {
  width: 5%;
  height: 3px;
  background: black;
}

.vl {
  border-left: 4px solid #ffffff;
  height: 25px;
  position: absolute;
}

.vl-1 {
  right: -50px;
  top: 127px;
}

.vl-2 {
  right: -50px;
  top: 157px;
}

.vl-3 {
  right: -50px;
  top: 186px;
}

.vl-4 {
  right: -50px;
  top: 216px;
}

.gadgets {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.gadget_item {
  display: inline-block;
  width: 10%;
  margin: 1% 4% 2%;
}

.minds {
  padding-top: 100px;
}

.minds_text_right {
  text-align: left;
}

.minds_footer {
  padding: 20px;
}

.table {
  margin: 50px 0 10px;
}

.row {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #888888;
}

.nature_row {
  background: url("../images/nature.png") center/cover;
}

.col-md-6-white {
  color: white;
}

.team {
  background-color: #f6f6f6;
  padding: 200px 0 600px;
}

.team__subtitle_line {
  float: left;
  margin: 15px 15px 1px 1px;
}

.team__subtitle_text {
  float: left;
}

.team_images {
  margin-top: -100px;
}

.team_second_row {
  margin-top: -200px;
  margin-left: -185px;
}

.team_third_row {
  margin-top: -199px;
  margin-left: -552px;
}

.team_member {
  background: center / cover no-repeat;
}

.member_one {
  background-image: url("../images/one.png");
}

.member_two {
  background-image: url("../images/two.png");
}

.member_three {
  background-image: url("../images/three.png");
}

.member_four {
  background-image: url("../images/four.png");
}

.member_five {
  background-image: url("../images/five.png");
  position: relative;
}

.triangle {
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 105px solid #ef4035;
  position: absolute;
  top: 100px;
  left: 0;
  opacity: 0;
}

.triangle > h6 {
  margin-top: -97px;
  margin-left: -31px;
  white-space: nowrap;
  color: white;
}

.triangle > p {
  margin-top: -5px;
  margin-left: -33px;
  white-space: nowrap;
  color: white;
}

.member_five:hover .triangle {
  opacity: 0.7;
}

.member_six {
  background-image: url("../images/six.png ");
}

.member_seven {
  background-image: url("../images/seven.png");
}

.member_eight {
  background-image: url("../images/eight.png");
}

.vimeo {
  background-color: #28282e;
  padding: 100px 0 100px;
}

.vimeo_top {
  width: 624px;
  margin: 0 auto;
}

.vimeo_content__image {
  background: url("../images/mountains.png") center/contain no-repeat;
  padding-top: 350px;
  margin: 20px;
}

.vimeo_bullets {
  width: 250px;
  margin: 0 auto;
}

.vimeo_bullet {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: black;
  margin: 0 10px;
}

.vimeo_bullet:hover {
  background-color: white;
}

.footer_red {
  background-color: #ef4035;
  padding: 2px;
}

.footer_black {
  background-color: #28282e;
  padding: 50px;
}

.footer_text {
  float: left;
  width: 23%;
  margin: 0 1%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .homepage, .services, .works, .project, .minds, .team, .vimeo {
    padding: 10px 0;
  }
  .black_title, .white_title, .white_title_homepage, .merriweather_title_white {
    font-size: 25px;
  }
  .proximanova_white-text, .proximanova_black_text,
  .proximanova_black-text_small {
    font-size: 14px;
    padding: 15px 0;
  }
  .content {
    width: 300px;
    margin: 0 auto;
  }
  .button_general {
    width: 100px;
    padding: 7px;
    margin: 19px 0;
  }
  .col_left, .col_right {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .rhombus {
    height: 100px;
    clip-path: none;
    display: inline-block;
    width: 30%;
  }
  .rhombus_text {
    display: none;
  }
  .services_first_row, .team_first_row {
    margin-top: -40px;
  }
  .team__subtitle_text {
    float: none;
  }
  .team_second_row, .services_second_row {
    margin-top: -101px;
    margin-left: 0px;
  }
  .team_third_row, .services_third_row {
    margin-top: -101px;
    margin-left: -4px;
  }
  .project_image {
    background-size: 90% 87%, 100% 100%;
    padding-top: 160px;
  }
  .table {
    margin: 5px 0 5px;
  }
  .gadget_item {
    margin: 1% 14% 8% 5%;
  }
  .vimeo_top {
    width: 80%;
    margin: 0 auto;
  }
  .vimeo_content__image {
    padding-top: 100px;
  }
  .footer_black {
    padding: 10px;
  }
  .footer_text {
    width: 45%;
    float: left;
    margin: 0px 1%;
  }
  .row_one, .hline_white, .hline_black, .vl {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .homepage, .services, .works, .project, .minds, .team, .vimeo {
    padding: 50px 0;
  }
  .black_title, .white_title {
    font-size: 43px;
  }
  .content {
    width: 700px;
    margin: 0 auto;
  }
  .col_left, .col_right {
    float: none;
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .team__subtitle_text {
    float: none;
  }
  .team_third_row,
  .services_third_row {
    margin-left: -184px;
  }
  .services_images,
  .team_images {
    padding-left: 10px;
  }
  .row_one, .hline_white, .hline_black {
    display: none;
  }
}
