
/**
@font-face {
     font-family: gotham;
     src: url("../fonts/GothamRounded-Light.otf");
}

.white_title_homepage {
     font-family: gotham;
     font-size: 48px;
     color: #f6f9fa;     
}
.proximanova_white-text {
     font-family: "Proxima Nova";
     font-size: 18px;
     color:  #ffffff;
     padding: 35px 0;
}
.proximanova_white-text_upper {
     font-family: "Proxima Nova";
     font-size: 18px;
     color:  #ffffff;
     text-transform: uppercase;
}
.proximanova_white-text_small {
     color: #ffffff;
     font-family: "Proxima Nova";
     font-size: 16px;
}
.proximanova_black_text {
     font-family: "Proxima Nova";
     font-size: 18px;
     padding: 40px 0;
}

.proximanova_black_text_upper {
     font-family: "Proxima Nova";
     font-size: 18px;
     text-transform: uppercase;
}
.proximanova_black-text_small {
     font-family: "Proxima Nova";
     font-size: 16px;
}
.white_title {
     font-family: "Open Sans";     
     font-size: 53px;
     color: #ffffff;
}
.black_title {
     font-family: open sans;
     font-size: 53px;
     text-transform: uppercase;
}
.merriweather_title_red {
     color: #ef443a;
     font-family: Merriweather;
     font-size: 14px;
}
.merriweather_title_white {
     color: #f6f6f6;
     font-family: Merriweather;
     font-size: 39px;
}

**/
 @mixin breakpoint ($point) {
     @if $point == phone {
         @media only screen and (min-width: 320px) and (max-width: 480px) {
             @content;
        }
    }
     @else if $point == tablet {
         @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
             @content;
        }
    }
     @else if $point == desktop {
         @media only screen and (min-width: 1300px) {
             @content;
        }
    }
}
 .content {
     width: 1300px;
     margin: 0 auto;
     text-align: center;
     @include breakpoint(phone) {
         width: 300px;
         margin: 0 auto;
    }
     @include breakpoint(tablet) {
         width: 700px;
         margin: 0 auto;
    }
}
 .col_left {
     width: 40%;
     float: left;
     text-align: left;
     @include breakpoint(phone) {
         float: none;
         text-align: center;
         margin: 0 auto;
         width: 80%;
    }
     @include breakpoint(tablet) {
         float: none;
         text-align: center;
         margin: 0 auto;
         width: 80%;
    }
}
 .col_right {
     width: 50%;
     float: right;
     @include breakpoint(phone) {
         float: none;
         text-align: center;
         margin: 0 auto;
         width: 80%;
    }
     @include breakpoint(tablet) {
         float: none;
         text-align: center;
         margin: 0 auto;
         width: 80%;
    }
}
 .clearfix::after {
     content: "";
     clear: both;
     display: table;
}
 .col_left:after {
     content: "";
     width: 5%;
     height: 3px;
     position: absolute;
     @include breakpoint(phone) {
         display: none;
    }
     @include breakpoint(tablet) {
         display: none;
    }
}
 .homepage_par, .services_par, .project_par, .team_par {
     padding: 50px 0;
     @include breakpoint(phone) {
         padding: 10px 0;
    }
     @include breakpoint(tablet) {
         padding: 10px 0;
    }
}

 .button_general {
     width: 130px;
     padding: 13px;
     margin: 30px 0;
     background: transparent;
     border: 2px solid #f6f6f6;
     @include breakpoint(phone) {
         width: 100px;
         padding: 7px;
         margin: 19px 0;
     }
}
 .button_general:hover {
     background-color: #8B979C;
}

