
@font-face {
     font-family: gotham;
     src: url("../fonts/GothamRounded-Light.otf");
}

.white_title_homepage {
     font-family: gotham;
     font-size: 48px;
     color: #f6f9fa;
     @include breakpoint (phone) {
     font-size: 30px;}
     @include breakpoint (tablet) {
     font-size: 42px;}
}

 @mixin proximanova ($f-family: "Proxima Nova", $f-size: 18px, $f-color: #ffffff ) {
     font-family: $f-family;
     font-size: $f-size;
     color: $f-color;
}
 .homepage_par, .project_par, .vimeo_par, .footer_title {
     @include proximanova;
     @include breakpoint (phone) {
     font-size: 14px;}
}
.button_general, .grid-item_title__white, .grid-item_name__white {
     @include proximanova;
     text-transform: uppercase;
     @include breakpoint (phone) {
     font-size: 14px;}
}
 .grid-item_name_par__white, .footer_subtitle, .homepage_header_title {
     @include proximanova ($f-size: 16px);
     @include breakpoint (phone) {
     font-size: 14px;}
}
 .grid-item_date__white {
     @include proximanova;
     @include breakpoint (phone) {
     font-size: 14px;}
}



 @mixin proximanova_black ($f-family: "Proxima Nova", $f-size: 18px) {
     font-family: $f-family;
     font-size: $f-size;
}
 .services_par, .works_par, .minds_par, .team_par {
     @include proximanova_black;
     @include breakpoint (phone) {
     font-size: 14px;}
}
 .grid-item-top, .grid-item_title, .grid-item_name {
     @include proximanova_black;
     text-transform: uppercase;
     @include breakpoint (phone) {
     font-size: 14px;}
}
 .grid-item_par {
     @include proximanova_black ($f-size: 16px);
     @include breakpoint (phone) {
     font-size: 14px;}
}
 .grid-item_date {
     @include proximanova_black;
     @include breakpoint (phone) {
     font-size: 14px;}
}
 .rhombus_text {
     @include proximanova_black ($f-size: 14px);
}


 @mixin merriweather ($f-family: "Merriweather", $f-size: null, $f-color: null ) {
     font-family: $f-family;
     font-size: $f-size;
     color: $f-color;
}
 .minds_footer_title, .team_subtitle {
     @include merriweather ($f-size: 14px, $f-color: #ef443a);
}
 .vimeo_title {
     @include merriweather ($f-size: 39px, $f-color: #f6f6f6);
     @include breakpoint (phone) {
     font-size: 30px;}
     @include breakpoint (tablet) {
     font-size: 42px;} }

 @mixin opensans ($f-family: "Open Sans", $f-size: 50px, $f-color: null) {
     font-family: $f-family;
     font-size: $f-size;
     color: $f-color;
}
 .project_title {
     @include opensans ($f-color: #ffffff);
     @include breakpoint (phone) {
        font-size: 28px;}
     @include breakpoint (tablet) {
     font-size: 33px;}
}

 .works_title, .team_title, .services_title, .minds_title {
     @include opensans;
     text-transform: uppercase;
     @include breakpoint (phone) {
     font-size: 30px;}
    @include breakpoint (tablet) {
     font-size: 33px;}
}