.footer_red {
     background-color: #ef4035;
     padding: 2px;
}

.footer_black {
     background-color: #28282e;
     padding: 50px;
}

.footer_text {
     float: left;
     width: 23%;
     margin: 0 1%;
}
