

.homepage {
    /*
     background: url("../images/homepage.png") center/cover;
     background-size: 10% 10%;
     background-repeat: no-repeat;
     padding: 50px 0 80px;
     animation-duration: 2s;
     animation-direction: alternate;
     transition: transform 3s;
     */
     padding: 50px 0 80px;
     position: relative;
}

.homepage_mask:before {
  animation: slide_in_left 2s ease-out forwards;
  background: url("../images/homepage.png") center/cover no-repeat;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;  
}

@keyframes slide_in_left {
    from {left: -700px;}
    to {left: 0;}
}

/*
@keyframes example_three {
  0% {
    transform: translateX(-1300px);
    opacity: 0;  
 }
  25% {
    transform: translateX(-624px); 
    opacity: 0.3;
 }
  50% {
    transform: translateX(-324px); 
    opacity: 0.5;  
  }
  75% {
    transform: translateX(-124px); 
    opacity: 0.7; 
  }  
  100% {
   transform: none;
   opacity: 1;
  }
}

*/

.homepage_header_logo,
.homepage_header_text {
     float: left;
     margin: 10px;
}

.homepage_header_logo {
  animation: rotation 2s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(359deg) scale(2);
    }
}

.clearfix::after {
     content: "";
     clear: both;
     display: table;
}
.homepage_content {
    position: relative;
    animation: slide_in_right 2s ease-out forwards;
}

@keyframes slide_in_right {
    from {right: -700px;}
    to {right: 0;}
}

.homepage_content:after {
    @extend .col_left:after;
    background: white;
    top: 265px;
    left: 5px; }

.col_left {
     width: 40%;
     float: left;
     text-align: left;
}
.col_right {
     width: 50%;
     float: right;
}

.button_general {
     width: 130px;
     padding: 13px;
     margin: 30px 0;
     background: transparent;
     border: 2px solid #f6f6f6;
     color: #ffffff;
     font-family: proximanova;
     font-size: 14px;
     text-transform: uppercase;
}

.button_general:hover {
     background-color: #8B979C;
}