


 .homepage {
    /* background: url("../images/homepage.png") center/cover;
     background-size: 10% 10%;
     background-repeat: no-repeat;
     padding: 50px 0 80px;
     animation-duration: 2s;
     animation-direction: alternate;
     transition: transform 3s;
     */
     padding: 50px 0 80px;
     position: relative;
     @include breakpoint(phone) {
         padding: 10px 0;
    }
      @include breakpoint(tablet) {
         padding: 10px 0;
    }
}
 .homepage_mask:before {
     content: "";
     background: url("../images/homepage.png") center/cover no-repeat;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     animation: slide_in_left 2s ease-out forwards;
     z-index: -1;
}
 @keyframes slide_in_left {
     from {
        left: -700px;
    }
     to {
        left: 0;
    }
}
/* @keyframes example_three {
     0% {
         transform: translateX(-1300px);
         opacity: 0;
    }
     25% {
         transform: translateX(-624px);
         opacity: 0.3;
    }
     50% {
         transform: translateX(-324px);
         opacity: 0.5;
    }
     75% {
         transform: translateX(-124px);
         opacity: 0.7;
    }
     100% {
         transform: none;
         opacity: 1;
    }
}
 */
 .homepage_header_logo, .homepage_header_text {
     float: left;
     margin: 10px;
}
 .homepage_header_logo {
     position: relative;
     animation: rotation 2s;
}
 @keyframes rotation {
     from {
         transform: rotate(0deg) scale(2);
    }
     to {
         transform: rotate(359deg) scale(1);
    }
}
 .homepage_content {
     position: relative;
     animation: slide_in_right 2s ease-out forwards;
}
 @keyframes slide_in_right {
     from {
        right: -700px;
    }
     to {
        right: 0;
    }
}
 .homepage_content:after {
     @extend .col_left:after;
     background: white;
     top: 280px;
     left: 0;
}
