.minds {
     padding-top: 100px;
}
.minds_text_right {
	text-align: left;
}

.minds_footer {
     padding: 20px;
}

.table {
     margin: 50px 0 10px;
}

.row {
     text-align: left;
     padding: 10px 0;
     border-bottom: 1px solid #888888;
}

.nature_row {
     background: url("../images/nature.png") center / cover;
}

.col-md-6-white {
     color: white;
}

