.minds {
     padding: 50px 0 10px;
     @include breakpoint(phone) {
         padding: 10px 0;
    }
     @include breakpoint(tablet) {
         padding: 50px 0;
    }
}
 .minds_text_right {
     text-align: left;
     padding: 30px 0;
}
 .minds_text_left {
     position: relative;
}
 .minds_text_left:after {
     content: "";
     width: 7%;
     height: 3px;
     position: absolute;
     background: black;
     top: 90px;
     left: 0;
}
 .grid-container {
     text-align: left;
     margin-top: 50px;
     @include breakpoint(phone) {
        margin-top: 0;
     }
}
 .grid-container-one, .grid-container-two, .grid-container-three, .grid-container-nature, .grid-container-five {
     display: grid;
     grid-template-columns: 60% 20% 20%;
     @include breakpoint(phone) {
         grid-template-columns: 90%;
         justify-content: center;
         border-bottom: 1px solid #999999;
    }
     @include breakpoint(tablet) {
         grid-template-columns: 90%;
         border-bottom: 1px solid #999999;
    }
}
 .grid-container-one {
     @include breakpoint(phone) {
         display: none;
    }
     @include breakpoint(tablet){
         display: none;
    }
}
 .grid-container-nature {
     background: url("../images/nature.png") center / cover;
}
 .grid-item {
     border-bottom: 1px solid #999999;
     padding: 5px;
     @include breakpoint(phone){
        padding: 0;
        border-bottom: none;
     }
    @include breakpoint(tablet){
        padding: 0;
        border-bottom: none;
     }
}
 .minds_footer {
     padding: 40px 0 20px;
}
 