.project {
     background-color: #28282e;
     padding: 100px 0 100px;
     @include breakpoint(phone){
         padding: 10px 0;
    }
     @include breakpoint(tablet){
         padding: 50px 0;
    }
}
 .project_text {
     position: relative;
}
 .project_text:after {
     @extend .col_left:after;
     background: white;
     top: 90px;
     left: 0;
}
 .project_image {
     background: url("../images/laptop.png") center no-repeat, url("../images/screen_elements.png") center no-repeat;
     padding-top: 310px;
     position: relative;
     @include breakpoint(phone) {
         background-size: 90% 87%, 100% 100%;
         padding-top: 160px;
    }
}
 .project_image_front {
     background: url("../images/front_shape.png") center no-repeat;
     padding: 10px;
     margin-top: -8px;
}
 .project_image_base {
     background: url("../images/base_shape.png") center no-repeat;
     padding: 10px;
     margin-top: -12px;
}
 .vl {
     border-left: 4px solid #ffffff;
     height: 25px;
     position: absolute;
     @include breakpoint(phone){
         display:none;
    }
}
 .vl-1 {
     right: -50px;
     top: 127px;
}
 .vl-2 {
     right: -50px;
     top: 157px;
}
 .vl-3 {
     right: -50px;
     top: 186px;
}
 .vl-4 {
     right: -50px;
     top: 216px;
}
 .gadgets {
     margin-top: 30px;
     text-align: center;
     font-size: 0 
}
 .gadget_item {
     display: inline-block;
     width: 10%;
     margin: 1% 4% 2%;
     @include breakpoint(phone) {
         margin: 1% 14% 8% 5%;
    }
}
