
.team {
     background-color: #f6f6f6;
     padding: 200px 0 600px;
}

.team__subtitle_line {
    float: left;
    margin: 15px 15px 1px 1px;
}

.team__subtitle_text {
     float: left;
}

.team_images {
     margin-top: -100px;
}

.team_second_row {
     margin-top: -200px;
     margin-left: -185px;
}

.team_third_row {
     margin-top: -199px;
     margin-left: -552px;
}

.team_member {
     background: center / cover no-repeat;
}

.member_one {
     background-image: url("../images/one.png");
}

.member_two {
     background-image: url("../images/two.png");
}

.member_three {
     background-image: url("../images/three.png");
}

.member_four {
     background-image: url("../images/four.png");
}

.member_five {
     background-image: url("../images/five.png");
     position: relative;
}

.triangle {
     border-left: 89px solid transparent;
     border-right: 89px solid transparent;
     border-top: 105px solid #ef4035;
     position: absolute;
     top: 100px;
     left: 0;
     opacity: 0;
}

.triangle>h6 {
     margin-top: -97px;
     margin-left: -31px;
     white-space: nowrap;
     color: white;
}

.triangle>p {
     margin-top: -5px;
     margin-left: -33px;
     white-space: nowrap;
     color: white;
}

.member_five:hover .triangle {
     opacity: 0.7;
}

.member_six {
     background-image: url("../images/six.png ");
}

.member_seven {
     background-image: url("../images/seven.png");
}

.member_eight {
     background-image: url("../images/eight.png");
}

