
.team {
     background-color: #f6f6f6;
     padding: 150px 0 50px;
}

.team__subtitle_line {
    float: left;
    margin: 15px 15px 1px 1px;
}

.team__subtitle_text {
     margin: 1px 60px 1px;
}

.team_text {
    position: relative;
}

.team_text:after { 
    @extend .col_left:after;
    background: black;
    top: 90px;
    left: 0;    
}

.team_images {
     margin-top: -100px;
}

.team_second_row {
     margin-top: -200px;
     margin-left: -205px;
}

.team_third_row {
     margin-top: -199px;
     margin-left: -614px;
}

.team_member {
     background: center / cover no-repeat;
     position: relative;
}

.member_one {
     background-image: url("../images/one.png");
}

.member_two {
     background-image: url("../images/two.png");
}

.member_three {
     background-image: url("../images/three.png");
}

.member_four {
     background-image: url("../images/four.png");
}

.member_five {
     background-image: url("../images/five.png");
}

.triangle {
     border-left: 89px solid transparent;
     border-right: 89px solid transparent;
     border-top: 105px solid #ef4035;
     position: absolute;
     top: 100px;
     left: 0;
     opacity: 0;
}

.triangle>h6 {
     margin-top: -97px;
     margin-left: -31px;
     white-space: nowrap;
     color: white;
}

.triangle>p {
     margin-top: -11px;
     margin-left: -50px;
     white-space: nowrap;
     color: white;
}

.team_member:hover .triangle {
     opacity: 0.7;
}

.member_six {
     background-image: url("../images/six.png ");
}

.member_seven {
     background-image: url("../images/seven.png");
}

.member_eight {
     background-image: url("../images/eight.png");
}

