
.vimeo {
     background-color: #28282e;
     padding: 100px 0 100px;
}

.vimeo_top {
     width: 624px;
     margin: 0 auto;
}

.vimeo_content__image {
     background: url("../images/mountains.png") center/contain no-repeat;
     padding-top: 350px;
     margin: 20px;
}

.vimeo_bullets {
     width: 250px;
     margin: 0 auto;
}

.vimeo_bullet {
     display: inline-block;
     border-radius: 50%;
     width: 10px;
     height: 10px;
     background: black;
     margin: 0 10px;
}

.vimeo_bullet:hover {
     background-color: white;
}
