@import "_mixins.scss";
@import "_fonts.scss";
@import "_homepage.scss";
@import "_services.scss";
@import "_works.scss";
@import "_project.scss";
@import "_minds.scss";
@import "_team.scss";
@import "_vimeo.scss";
@import "_footer.scss";
@import "_common.scss";
